<div fxLayout="column" fxLayoutAlign="center center" class="landing-header"> 
  <p class="logo">NEWSPAPER</p>
  <p class="intro-text">Angular 8 Material Design Admin Template</p>            
  <p class="desc m-0">Start creating your app with GRADUS template</p>
  <p class="desc"> 8 layouts, 6 color styles, 35+ pages</p>
  <div fxLayout="row" fxLayoutAlign="center center">
     <button mat-raised-button color="primary" (click)="scrollToDemos()">View demos</button>
     <a mat-raised-button color="accent" href="https://themeforest.net/item/gradus-angular-5-material-design-admin-template/21241729" target="blank">Purchase now</a>
  </div> 
</div>

<div class="container">
  <h2 class="muted-text">Check out our demo styles</h2>
  <p class="muted-text desc">Fully responsive, organized folder structure, clean & customizable code, easy to use and much more...</p>
  <div fxLayout="row wrap" class="py-1">
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo"> 
        <p class="text">Vertical default menu</p>
        <a routerLink="/" (click)="changeLayout('vertical','default', false)" class="link">
            <img src="assets/img/landing/vertical-default.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
        <p class="text">Horizontal default menu</p>
        <a routerLink="/" (click)="changeLayout('horizontal','default', false)" class="link">
            <img src="assets/img/landing/horizontal-default.jpg">        
        </a>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo"> 
        <p class="text">Vertical compact menu</p>
        <a routerLink="/" (click)="changeLayout('vertical','compact', false)" class="link">
            <img src="assets/img/landing/vertical-compact.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
        <p class="text">Horizontal compact menu</p>
        <a routerLink="/" (click)="changeLayout('horizontal','compact', false)" class="link">
            <img src="assets/img/landing/horizontal-compact.jpg">        
        </a>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo"> 
        <p class="text">Vertical mini menu</p>
        <a routerLink="/" (click)="changeLayout('vertical','mini', false)" class="link">
            <img src="assets/img/landing/vertical-mini.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
        <p class="text">Horizontal mini menu</p>
        <a routerLink="/" (click)="changeLayout('horizontal','mini', false)" class="link">
            <img src="assets/img/landing/horizontal-mini.jpg">        
        </a>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo"> 
        <p class="text">Vertical menu RTL</p>
        <a routerLink="/" (click)="changeLayout('vertical','default', true)" class="link">
            <img src="assets/img/landing/vertical-rtl.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
        <p class="text">Horizontal menu RTL</p>
        <a routerLink="/" (click)="changeLayout('horizontal','default', true)" class="link">
            <img src="assets/img/landing/horizontal-rtl.jpg">        
        </a>
    </div>
  </div> 
  <h2 class="muted-text">Skins</h2> 
  <div fxLayout="row wrap" class="py-1">
    <div fxFlex="100" fxFlex.gt-sm="33.3" class="demo"> 
        <a routerLink="/" (click)="changeTheme('indigo-light')" class="link">
            <img src="assets/img/landing/vertical-default.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.3" class="demo"> 
        <a routerLink="/" (click)="changeTheme('teal-light')" class="link">
            <img src="assets/img/landing/teal-light.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.3" class="demo"> 
        <a routerLink="/" (click)="changeTheme('red-light')" class="link">
            <img src="assets/img/landing/red-light.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.3" class="demo"> 
        <a routerLink="/" (click)="changeTheme('blue-dark')" class="link">
            <img src="assets/img/landing/blue-dark.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.3" class="demo"> 
        <a routerLink="/" (click)="changeTheme('green-dark')" class="link">
            <img src="assets/img/landing/green-dark.jpg">        
        </a>                
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.3" class="demo"> 
        <a routerLink="/" (click)="changeTheme('pink-dark')" class="link">
            <img src="assets/img/landing/pink-dark.jpg">        
        </a>                
    </div>
  </div>     
</div>

<div class="bg-primary w-100">
  <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between center" class="landing-footer">
    <span>Copyright ©2018 All Rights Reserved</span>
    <span>made by <a mat-button href="https://themeforest.net/user/theme_season/portfolio" target="blank">ThemeSeason</a></span>
  </div>
</div>
