
<mat-card class="p-0">
    <mat-card-header class="p-1" fxLayoutAlign="space-between center">
        <mat-card-subtitle class="m-0">Твой показатель:</mat-card-subtitle>
        <mat-chip-list>
            <mat-chip color="primary" selected="true" class="info-chip">
                <mat-icon class="icon-sm">trending_up</mat-icon>15%
            </mat-chip>
        </mat-chip-list>
    </mat-card-header>
    <div class="w-100 h-100p">
        <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="orders"
                [autoScale]="autoScale"
                (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
</mat-card>

<mat-card>
    <mat-card-header fxLayoutAlign="center center">
        <mat-card-subtitle><h2>Твои достижения, бро</h2></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Адреса доставки</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-tab-group>
                    <mat-tab label="07.01.2021" *ngFor="let asd of [1,2,3,4,5]">
                        <mat-card>
                            <mat-card-content>
                                <mat-nav-list>
                                    <mat-list-item *ngFor="let link of [1,2,3,4,5]">
                                        <a matLine href="javascript:void(0)">Алматы қ. Манас к. 34а {{ link }}</a>
                                        <button mat-icon-button>
                                            <mat-icon>info</mat-icon>
                                        </button>
                                    </mat-list-item>
                                </mat-nav-list>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="08.01.2021">

                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle><h2>Адреса доставки</h2></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-nav-list>
                                    <mat-list-item *ngFor="let link of [1,2,3]">
                                        <a matLine href="javascript:void(0)">Алматы қ. Жандосова к. 198а {{ link }}</a>
                                        <button mat-icon-button>
                                            <mat-icon>info</mat-icon>
                                        </button>
                                    </mat-list-item>
                                </mat-nav-list>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>На сегодня сколько вышло</mat-panel-title>
                </mat-expansion-panel-header>
                <h1>54780 KZT</h1>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Карта</mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
