

<div fxLayout="row" fxLayoutAlign="center center">
    <h2 style="padding: 50px;">Сколько публикаций было доставлено сегодня: {{period}}</h2>
</div>
<div fxLayout="column">
    <div class="flex-p">
        <mat-card>
            <mat-card-content>
                <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
                    <mat-tab *ngFor="let header of headers" label="{{header.dateString}}">
                        <table mat-table
                               [dataSource]="publications"
                               class="mat-elevation-z8">

                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef> Время</th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.time}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef> Сотрудник</th>
                                <td mat-cell *matCellDef="let row"><a routerLink="/patient-detail">
                                    {{row.title}} </a></td>
                            </ng-container>

                            <ng-container matColumnDef="received">
                                <th mat-header-cell *matHeaderCellDef> Клиент</th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.received}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Действие</th>
                                <td mat-cell *matCellDef="let row"> <!--{{element.symbol}}-->
                                    <button mat-raised-button color="primary" (click)="openVisit(row)"> Открыть
                                    </button>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>



