<!--<div fxLayout="column">-->
<!--    <div class="flex-p">-->
<!--        <mat-card>-->
<!--            <mat-card-content>-->
<!--                <mat-tab-group #tabGroup>-->
<!--                    <mat-tab label="Список пользователей">-->
<!--                        <table mat-table-->
<!--                               [dataSource]="cellInfoList"-->
<!--                               class="mat-elevation-z8">-->

<!--                            <ng-container matColumnDef="timeString">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Время</th>-->
<!--                                <td mat-cell *matCellDef="let row">-->
<!--                                    {{row.timeString}}-->
<!--                                </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="userFullName">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Пациент</th>-->
<!--                                <td mat-cell *matCellDef="let row"><a routerLink="/patient-detail">-->
<!--                                    {{row.userFullName}} </a></td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="doctorFullName">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Врач</th>-->
<!--                                <td mat-cell *matCellDef="let row">-->
<!--                                    {{row.doctorFullName}}-->
<!--                                </td>-->
<!--                                <td mat-cell *matCellDef="let element"><a-->
<!--                                        routerLink="/patient-detail/new/{{element.id}}">-->
<!--                                    {{element.name}} {{element.surname}} </a></td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="doctorSpecialty">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Специальность</th>-->
<!--                                <td mat-cell *matCellDef="let row"> &lt;!&ndash;{{element.symbol}}&ndash;&gt;-->
<!--                                    {{row.doctorSpecialty}}-->
<!--                                </td>-->
<!--                            </ng-container>-->

<!--                            <ng-container matColumnDef="actions">-->
<!--                                <th mat-header-cell *matHeaderCellDef> Действие</th>-->
<!--                                <td mat-cell *matCellDef="let row"> &lt;!&ndash;{{element.symbol}}&ndash;&gt;-->
<!--                                    <button mat-raised-button color="primary" (click)="openVisit(row)"> Открыть визит-->
<!--                                    </button>-->
<!--                                </td>-->
<!--                            </ng-container>-->


<!--                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--                        </table>-->


<!--                    </mat-tab>-->
<!--                    <mat-tab label="Добавление и редактирование пользователя">-->
<!--                    </mat-tab>-->
<!--                </mat-tab-group>-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->
<!--    </div>-->
<!--</div>-->

<app-users></app-users>


